.card {
    position: relative;
    margin:100px auto;
    width: 375px;
    height:140px;
    background: url('../images/award.jpeg');
    background-size: 375px 140px;
}
.card canvas {
    width: 375px;
    height: auto;
}

#cover{
    position: absolute;
    left: 0;
}